<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>StartServlet</servlet-name>
  	<display-name>StartServlet</display-name>
  	<description></description>
  	<servlet-class>com.santana.sc.monitor.StartServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>MapServlet</servlet-name>
  	<display-name>MapServlet</display-name>
  	<description></description>
  	<servlet-class>com.santana.sc.monitor.MapServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>StartServlet</servlet-name>
  	<url-pattern>/StartServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>MapServlet</servlet-name>
  	<url-pattern>/MapServlet</url-pattern>
  </servlet-mapping>
</web-app>
